@import "./../general";

.icon-button {
  float: left;
  text-align: center;
  width: 42px;
  height: 42px;
  display: block;
  line-height: 43px !important;
  //color: white;
  border-radius: 50%;
  box-shadow: 0px 3px 6px rgba(0,0,0,.6);
  font-size: 18px;
  background-color: $ctrl-color;
  border: 1px solid transparent;

  &:hover {
    cursor: pointer;
    font-size: 18px;
    width: 45px;
    height: 45px;
    line-height: 45px  !important;;
  }

  .icon-button-content {
    font-size: 29px;
    color: white;
  }
}