@import "./../general";

.button-standard {
  display: block;
  margin: 9px auto;
  //color: $main-color;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid $main-color;
  box-shadow: 1px 1px 9px rgba(0,0,0,0.6);
  padding: 9px 24px;
  //background-color: transparent;
  background-color: $main-color;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
    border: 2px solid $main-color;
  }
}