@import "general";

body {
  display: block;
  margin: 0;
  padding: 0;
}

#root {
  background: $body-bgk;
  height: $window-height;
  width: $window-width;
  font-family: RalewayRegular;
  border: 1px solid lightgray;
  float: left;
}
